{% extends 'base.html' %}
{% block title %}买家秀{% endblock %}
{% block content %}
    <div class="container-fluid" style="padding-top: 70px">
        <div class="row">
         <div class="col-sm-10 col-sm-offset-0 col-md-12 col-md-offset-0 main" style="padding: 20px">
                <h1 class="page-header">图片</h1>
            {% for image in images %}
            <div class="col-xs-6 col-md-3" yle="padding: 20px;padding: 100px;height: 300px; width: 300px;">
            <a href="{{ image.imageUrl }}" class="thumbnail">
                <img src="{{ image.imageUrl }}"class="img-rounded" style=""></a>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
{% endblock %}